<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <input placeholder="Id USuario" type="text" value="{{user_id::input}}"></input>
    <button on-click="doGet">Cuentas</button><br>

    <template is="dom-repeat" items="{{accounts}}">
      <h5>IBAN:[[item.iban]]</h5>
      <h5>Saldo:[[item.balance]]€</h5>
      </br>
    </template>

    <span hidden$="{{!hasAccounts}}">El usuario no tiene cuentas</span>

    <iron-ajax
      id="getUserAccounts"
      url="http://localhost:3000/apitechu/v1/users/{{user_id}}/accounts"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          user_id:{
            type:Number
          },
          iban: {
            type: String
          },
          balance: {
            type: String
          },
          hasAccounts: {
            type: Boolean,
            value: false
          },
          accounts:{
            type: Array
          }
        };
      }

      showData(data){
        console.log(data.detail.response);

        this.accounts = data.detail.response;
/*        this.iban = data.detail.response[0].iban;
        this.balance = data.detail.response[0].balance;*/
        this.hasAccounts = false;
      }

      showError(error){
        console.log("Hubo un error " + error.detail.request.status);
        if (error.detail.request.status==404){
          this.accounts = null;
          this.hasAccounts = true;
        }
      }
      doGet(){
        console.log("El usuario ha pulsado el botón");
        this.$.getUserAccounts.generateRequest();

      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
